html { 
  height: 100vh; 
  width: 100vw;  
  position: fixed; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: url(cursor.gif), auto
}

* { 
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
}

::-webkit-scrollbar-thumb {
    min-height: 60px;
    width:0px;
    background: transparent;
    }
 
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
    }
 
 ::selection {
  background-color: #fdf1f5;
  color:rgb(255, 255, 255);
}

body {
background:#fdf1f5;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

header {
    width:100%;
    height:90px;
    top:0;
    left:0;
    position:fixed;
    display:block;
    z-index:999999;
    background-repeat:repeat-x;
    -webkit-box-sizing: border-box;    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	filter: drop-shadow(#f7c9d4 0px 0px 8px);
	opacity: 0.6;
 }

 .lace {
     background-image:url(lace.png);
 }
 
 footer {
  width:100%;
  height:90px;
  bottom:-35px;
  left:0;
  position:fixed;
  display:block;
  z-index:999999;
  background-repeat:repeat-x;
  -webkit-box-sizing: border-box;    
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  filter: drop-shadow(#f7c9d4 0px 0px 8px);
  opacity: 0.6;
}

.lace2 {
   background-image:url(lace2.png);
}


.box {
	background-color: white;
	height: 730px;
	width: 400px;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
    left: 50%;
	overflow: hidden;
	filter: drop-shadow(#ffffff 2px 2px 25px);
	border-radius: 15px;
	opacity: 0.85;
	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.box:hover{
	opacity: 1;
}

.headerbg {
  height: 300px;
  width: 400px;
  background-image: repeating-linear-gradient(
    90deg,
    #fdf1f5,
    #fdf1f5 5px,
    transparent 0,
    transparent 50%
  );
  background-size: 30px 30px;
  background-color: #fef7fb;
  position: absolute;
  margin-top: 15px;
  border-radius: 6px 6px 0px 0px;
}

.pearls {
  height: 260px;
  width: 320px;
  position: absolute;
  margin-top: 30px;
  filter: brightness(130%) grayscale(100%) drop-shadow(#f7c9d4 0px 0px 8px)
    contrast(97%) opacity(60%);
}

.heart {
  height: 280px;
  position: absolute;
  margin-top: 80px;
  margin-left: 250px;
  transform: scaleX(-1);
  filter: grayscale(100%) brightness(140%) opacity(60%)
  drop-shadow(#f7c9d4 0px 0px 8px);
}

.sparklebg {
  height: 250px;
  width: 400px;
  object-fit: cover;
  position: absolute;
  margin-top: 20px;
  filter: grayscale(100%) contrast(10%) brightness(500%)
    drop-shadow(#f7c9d4 0px 0px 2px);
}

.headerlace {
  width: 400px;
  object-fit: cover;
  filter: brightness(200%) drop-shadow(#f7c9d4 0px 5px 5px);
  border-radius: 30px 30px 0px 0px;
  position: absolute;
}

.misaimg {
  height: 140px;
  width: 140px;
  object-fit: cover;
  position: absolute;
  filter: grayscale(60%) brightness(140%) contrast(60%);
  margin-top: 105px;
  margin-left: 130px;
  border-radius: 100px;
  background-image:url(misa1.jpg);
  opacity:1;
}

.misaimg img {
    border-radius:100px;
    opacity:1;
    width: 140px;
    height:140px;
    animation-timing-function: linear;
    animation-name: easein;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    -webkit-animation-name: easein;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
}

@-webkit-keyframes easein {
    0% {opacity: 0;}
    15% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes easein {
    0% {opacity: 0;}
    15% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#s1 {
    top:0px;
    left:0px;
    position:absolute;
    opacity:1;
}


#s2 {
    -webkit-animation-delay: -8s;
    top:0px;
    left:0px;
    position:absolute;
    opacity:1;
}


#s3 {
    -webkit-animation-delay: -4s;
    top:0px;
    left:0px;
    position:absolute;
    opacity:1;
}


.heartframe {
  height: 300px;
  width: 300px;
  position: absolute;
  margin-top: 10px;
  margin-left: 50px;
  transform: rotate(10deg);
  filter: grayscale(100%) brightness(108%) drop-shadow(#f7c9d4 0px 0px 5px);
}

.sparkle {
  height: 60px;
  position: absolute;
  margin-top: 170px;
  margin-left: 150px;
  transform: rotate(-10deg);
  filter: grayscale(100%) brightness(108%) drop-shadow(#f7c9d4 0px 0px 2px);
}

.locket {
  height: 130px;
  position: absolute;
  margin-top: 150px;
  margin-left: 220px;
  transform: rotate(10deg);
  filter: grayscale(100%) brightness(120%) drop-shadow(#f7c9d4 0px 0px 2px);
}

.bow {
  height: 130px;
  position: absolute;
  margin-top: 90px;
  margin-left: 50px;
  transform: rotate(-10deg);
  filter: brightness(110%) grayscale(70%) drop-shadow(#f7c9d4 0px 0px 2px);
}

.blur {
  background-color: white;
  height: 130px;
  width: 400px;
  position: absolute;
  margin-top: 285px;
  filter: drop-shadow(white 0px -10px 10px);
}

.blur2 {
  background-color: white;
  height: 130px;
  width: 400px;
  position: absolute;
  margin-top: 285px;
  filter: drop-shadow(white 0px -10px 10px);
}

.filter {
  background-color: white;
  height: 280px;
  width: 400px;
  position: absolute;
  margin-top: 13px;
  margin-left: 0px;
  filter: opacity(14%);
}

.mainbox {
  height: 336px;
  width: 400px;
  background-image: repeating-linear-gradient(
    90deg,
    #fdf1f5,
    #fdf1f5 5px,
    transparent 0,
    transparent 50%
  );
  background-size: 30px 30px;
  background-color: #fef7fb;
  position: absolute;
  margin-top: 360px;
  filter: opacity(30%);
}

.bowdivider {
  width: 250px;
  position: absolute;
  margin-top: 290px;
  margin-left: 75px;
  filter: brightness(108%) saturate(160%);
}

.lacedivider {
  width: 400px;
  position: absolute;
  margin-top: 320px;
  margin-left: 0px;
  filter: brightness(300%) drop-shadow(#f7c9d4 0px 0px 10px);
}

.dotteddivider {
  height: 0px;
  width: 400px;
  border: 1px dotted #fdf1f5;
  position: absolute;
  margin-top: 370px;
}

.pfp {
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 15px;
  filter: grayscale(100%) opacity(60%);
  margin-top: 388px;
  margin-left: 13px;
  opacity:1;
}

.pfp img {
    border-radius:15px;
    opacity:1;
    width: 100px;
    height: 100px;
    animation-timing-function: linear;
    animation-name: easein;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    -webkit-animation-name: easein;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
}

@-webkit-keyframes easein {
    0% {opacity: 0;}
    15% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes easein {
    0% {opacity: 0;}
    15% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#s4 {
    top:0px;
    left:0px;
    position:absolute;
    opacity:1;
}


#s5 {
    -webkit-animation-delay: -8s;
    top:0px;
    left:0px;
    position:absolute;
    opacity:1;
}


#s6 {
    -webkit-animation-delay: -4s;
    top:0px;
    left:0px;
    position:absolute;
    opacity:1;
}


.textboxtop {
  color: #f7c9d4;
  font-size: 11px;
  position: absolute;
  margin-top: 380px;
  margin-left: 156px;
  transform: rotate(180deg);
}


.textboxbottom {
  color: #f7c9d4;
  font-size: 11px;
  position: absolute;
  margin-top: 480px;
  margin-left: 156px;
  transform: rotate(0deg);
}

.smallbow {
  height: 40px;
  position: absolute;
  margin-top: 420px;
  margin-left: 114px;
  filter: brightness(140%) drop-shadow(#f7c9d4 0px 0px 1px);
}

.aboutme {
  height: 80px;
  width: 215px;
  color: grey;
  font-family: MS UI GOTHIC;
  font-size: 11px;
  line-height: 13px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
  margin-top: 395px;
  margin-left: 165px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #fef7fb;
}

.dotteddivider2 {
  height: 0px;
  width: 400px;
  border: 1px dotted #fdf1f5;
  position: absolute;
  margin-top: 505px;
}

.bow2divider {
  width: 260px;
  position: absolute;
  margin-top: 515px;
  margin-left: 70px;
  filter: brightness(108%) saturate(160%);
}

.pearldivider {
  width: 400px;
  position: absolute;
  margin-top: 550px;
  margin-left: 0px;
  filter: brightness(300%) drop-shadow(#f7c9d4 0px 0px 10px);
}

.textboxtop2 {
  color: #f7c9d4;
  font-size: 11px;
  position: absolute;
  margin-top: 571px;
  margin-left: 19px;
  transform: rotate(180deg);
}

.textboxbottom2 {
  color: #f7c9d4;
  font-size: 11px;
  position: absolute;
  margin-top: 672px;
  margin-left: 19px;
  transform: rotate(0deg);
}

.textbox2 {
  height: 75px;
  width: 240px;
  color: grey;
  font-family: MS UI GOTHIC;
  font-size: 11px;
  line-height: 13px;
  position: absolute;
  padding: 5px;
  margin-top: 585px;
  margin-left: 25px;
}

.duration {
	font-size: 9px;
}

.key {
  height: 100px;
  position: absolute;
  margin-top: 575px;
  margin-left: 290px;
  filter: brightness(115%) grayscale(40%) opacity(70%)
    drop-shadow(#f7c9d4 0px 0px 1px);
}

.lacedividerbottom {
  width: 400px;
  position: absolute;
  margin-top: 685px;
  margin-left: 0px;
  transform: rotate(180deg);
  filter: brightness(300%) drop-shadow(#f7c9d4 0px 5px 7px);
}

.flex {
        display: flex;
      }


.spotify,
.main {
        margin-top: 0px;
      }

.spotify {
        flex-direction: column;
        gap: 1px;
      }


.spotify-body {
        gap: 5%;
        align-items: center; 
        height: 60px;
        position: relative;
      }

      .spotify-img {
        height: 100%;
        width: auto;
        border-radius: 8px;
		filter: grayscale(100%) opacity(60%);

      }  
      
      .pause-play {
        position: absolute;
        bottom: 0;
        right: 0;    
      }
      
      .pause-play span {
        color: #f7c9d4;
        font-size: 1.5rem;
      }

      .spotify-bottom progress {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 2px;
        border: none;
        margin-top: 4px;
		margin-bottom: 4px;
      }

      .spotify-bottom progress::-webkit-progress-bar {
        background-color: #d1d1d1;
        border-radius: 100px;
      }
    
      .spotify-bottom progress::-webkit-progress-value {
        background: #f7c9d4;
        border-radius: 100px;
      }
    
      .spotify-bottom progress::-moz-progress-bar {
        background: #d1d1d1;
        border-radius: 100px;
      }
    
      .spotify-bottom progress::-moz-progress-value {
        background: #f7c9d4;
        border-radius: 100px;
      }

      .spotify-bottom p {
        justify-content: space-between;
        font-size: 0.8rem;
      }

.snowflake {
    color: #fff;
    font-size: .5em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    }
     
    @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:-1000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}

#misa {
        position: absolute;
        bottom: -15px;
        left: 35%;
        max-width: 100%;
        max-height: 100%;
        filter: brightness(130%) grayscale(100%) drop-shadow(#f7c9d4 0px 0px 8px);
		opacity: 0.5;
        z-index: -3;
}

.misa {
        width: auto;
        height: 88vh;
        z-index: 2;
		opacity: 0.5;
      
      }

/* fadeInLeft */

@-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
  }
  @-moz-keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
  }
  @keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
  }
  
  .in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-duration:1.2s;
    animation-delay: 1.7s;
  }
  
  .desktop {
    display: inline;
  }
  
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 769px){  
    .desktop { display: none;}
  }


  

